.sort {
    display: flex;
    gap: 45px;

    white-space: nowrap;
}

.title {
    display: none;
}

.sort > button {
    display: flex;
    gap: 5px;
    justify-items: center;

    cursor: pointer;
}

.sort svg {
    fill: var(--primary);
}

.active {
    color: var(--primary);

    font-weight: 700;
}
