.first-level-menu {
    display: grid;
    gap: 20px;

    margin-top: 30px;
}

.first-level-menu__item {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr;

    font-size: 18px;
    font-weight: 500;
}

.first-level-menu__item_active,
.first-level-menu__item:hover {
    color: var(--primary);
}

.second-level-menu {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 30px;

    border-left: 1px solid var(--gray-light);
}

.second-level-menu__block {
    display: grid;

    padding: 10px 0;
    gap: 10px;
}

.second-level-menu__item {
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 300;
}

.third-level-menu {
    overflow: hidden;
}

.third-level-menu__item {
    text-transform: none;

    outline-offset: -1px;

    font-size: 14px;
    font-weight: 500;
}

.third-level-menu__item_active,
.third-level-menu__item:hover {
    color: var(--primary);
}
