.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
}

.description {
    grid-column: span 2;
}

.characteristics {
    padding-right: 60px;
}

.characteristics-item {
    display: grid;
    grid-template-columns: 1fr auto;

    border-bottom: 1px dashed var(--gray-light);
}

.advantages {
    border-left: 3px solid var(--green);
}

.advantages-block {
    padding-left: 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    gap: 10px;
}

.text-s {
    font-size: 16px;
    font-weight: 500;
}

.text-m {
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 1250px) {
    .characteristics {
        padding: 0;

        grid-column: span 2;
    }

    .advantages {
        grid-column: span 2;
    }
}
