.box {
    display: flex;
}

.box span:not(:last-child) .star {
    margin-right: 5px;
}

.filled {
    fill: var(--primary);
}

.editable {
    cursor: pointer;
}

.error svg {
    animation: blink 1s;
}

.message {
    display: block;

    margin-top: 5px;

    color: var(--red);
}

@keyframes blink {
    50% {
        fill: var(--red);
    }

    100% {
        fill: var(--gray-light);
    }
}
