.container {
    justify-content: space-between;

    padding: 15px;

    border-bottom: 1px solid var(--gray-light);
}

.sidebar {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    padding: 15px;

    background-color: var(--bg);
}

.close {
    position: fixed;
    z-index: 101;
    top: 15px;
    right: 15px;
}
