.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-block {
    display: grid;
    grid-template-columns: [start] 70px [logoend] 30px [titlestart] 1fr [end];
    row-gap: 5px;
}

.logo {
    max-height: 70px;

    grid-column: start / logoend;
    grid-row: span 2;
}

.logo img {
    border-radius: 5px;
}

.categories,
.title {
    grid-column: titlestart / end;
}

.stats {
    display: grid;
    align-self: start;
    grid-template-columns: [start] auto [priceend] 40px [creditstart] auto [creditend] 60px [raitngstart] auto [end];
}

.price,
.price-title {
    grid-column: start / priceend;
}

.credit,
.credit-title {
    grid-column: creditstart / creditend;
}

.rating,
.rating-title {
    grid-column: raitngstart / end;
}

.price,
.credit,
.rating {
    white-space: nowrap;
}

.rating-title a:hover {
    color: var(--primary);
}

.categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.text-m {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.text-s {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

@media screen and (max-width: 1250px) {
    .container {
        grid-template-columns: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 670px) {
    .stats {
        display: grid;
        grid-template-columns: none;
        row-gap: 15px;

        align-items: center;
        justify-content: space-between;
    }

    .price,
    .credit,
    .rating {
        grid-column: 1/2;
    }

    .price-title,
    .credit-title,
    .rating-title {
        grid-column: 2/3;
    }

    .price-title {
        grid-row: 1/2;
    }

    .credit-title {
        grid-row: 2/3;
    }

    .rating-title {
        grid-row: 3/4;
    }
}
