.container {
    display: grid;

    grid-template-columns: 1fr auto auto;

    padding: 25px 30px;
    column-gap: 40px;

    color: var(--white);
    background-color: var(--primary);
}

@media screen and (max-width: 760px) {
    .container {
        grid-template-columns: auto;
        row-gap: 10px;

        justify-content: center;
    }
}
