.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.promo {
    mix-blend-mode: darken;
    grid-row: span 2;
}

.description {
    align-self: start;

    text-align: center;
}
