.header {
    display: grid;
    grid-template-columns: auto auto 1fr;

    align-items: center;
}

.count {
    padding: 0 20px;
}

.product-block {
    display: grid;
    gap: 20px;
}

.salary-title {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 20px;
}

.advantages-block {
    margin-top: 20px;
    padding: 15px;

    border-radius: 10px;
    background: var(--white);
}

.advantages-block ul li {
    margin-bottom: 30px;
}

.description-block {
    padding: 15px;
}

.description-block h2 {
    margin: 15px 0;

    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

.description-block h3 {
    margin: 15px 0;

    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.description-block a {
    display: inline;
}

.skills-block {
    display: flex;
    flex-wrap: wrap;

    margin-top: 20px;
    gap: 10px;
}

@media screen and (max-width: 560px) {
    .container {
        padding: 0 10px 10px;
    }
}
