.container {
    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
    row-gap: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.inputs {
    display: flex;
    gap: 10px 30px;

    flex-wrap: wrap;
}

.input {
    width: 218px;
}

.rating {
    display: flex;
    column-gap: 20px;
}

.textarea {
    grid-column: 1/-1;
}

.panel {
    display: flex;
    align-items: center;
    gap: 10px 15px;
    grid-column: 1/-1;

    flex-wrap: wrap;
}

.submit {
    padding: 10px 35px;
}

.response {
    grid-column: 1/-1;

    position: relative;

    display: none;
    align-items: center;
    justify-content: stretch;

    padding: 25px 15px;

    border-radius: 5px;
}

.error {
    display: grid;

    color: var(--black);
    background-color: var(--red);
}

.success {
    display: grid;

    color: var(--black);
    background-color: var(--green-light);
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: transparent;
}

@media screen and (max-width: 1070px) {
    .container {
        grid-template-columns: auto;
    }

    .rating {
        padding: 0 10px;
    }
}
