* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    color: var(--black);
    background-color: var(--bg);

    font-family: var(--font-family);
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

svg {
    display: block;
}

a {
    display: block;

    text-decoration: none;

    color: inherit;
}

input,
textarea {
    border: none;

    font: inherit;
}

button {
    cursor: pointer;

    border: none;

    font: inherit;
}

:root {
    --font-family: "Noto Sans", sans-serif;
    --bg: #F5F6F8;
    --black: #3B434E;
    --white: white;
    --primary: #7653FC;
    --primary-hover: #6642F7;
    --red: #FC836D;
    --red-bright: #DE0000;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --gray: #B3C0D9;
    --gray-light: #EBEBEB;
    --gray-card: #F9F8FF;
    --gray-dark: #787D85;
}
